@font-face {
    font-family: 'Hero New';
    src: url('/fonts/heronew-regular.woff2') format('woff2'),
         url('fonts/heronew-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url('/fonts/heronew-semibold.woff2') format('woff2'),
         url('fonts/heronew-semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
