.info {
  background: var(--baseColor);
  color: var(--baseBg);
}

.quick-links {
  margin: 20px 0 0;
  padding: 0;
  display: block;
}

.quick-links__item {
  margin: 6px 0;
  display: block;
}

.quick-links__link {
  color: var(--mainColor);
  text-decoration: none;
}
