@import "./constants.pcss";
@import "./base.pcss";
@import "./start-section.pcss";
@import "./video-section.pcss";
@import "./download-section.pcss";
@import "./footer-section.pcss";
@import "./slogan-section.pcss";
@import "./swiper-section.pcss";
@import "./info-section.pcss";
@import "./static-slider-section.pcss";
@import "./faq-section.pcss";
@import "./store-buttons.pcss";

.img-screen {
  max-width: 100%;
  height: auto;
  border: 0;
  display: block;
  margin: 0 auto;
}
