@font-face {
    font-family: 'Hero New';
    src: url('/fonts/heronew-regular.woff2') format('woff2'),
         url('fonts/heronew-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hero New';
    src: url('/fonts/heronew-semibold.woff2') format('woff2'),
         url('fonts/heronew-semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
html {
}
body {
  width: 100%;
  margin: 0;
  font: 18px/1.4 'Hero New', sans-serif;
  color: #000;
  background: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media (min-width: 768px) {
    body {
    font-size: 16px;
    }
  }
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.section {
  width: 100%;
  padding: 20px;
  position: relative;
}
@media (min-width: 768px) {
    .section {
    padding: 40px;
    }
  }
.content {
  width: 830px;
  max-width: 100%;
  margin: 0 auto;
}
.isMobile {
}
@media (min-width: 768px) {
    .isMobile {
    display: none;
    }
  }
.isTablet {
}
@media (max-width: 767px) {
    .isTablet {
    display: none;
    }
  }
.display_none {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.start {
    position:relative;
}
.start__logo {
  width: 120px;
  height: 120px;
  display: block;
  margin: 30px auto;
  background: no-repeat 50% 50% url(./img/logo.png);
  background-size: contain
}
@media (min-width: 768px) {
    .start__logo {
    position:absolute;
    top: 0%;
    left: 0%;
    }
  }
.start__veon {
  width: 320px;
  max-width: 100%;
  margin: 25px auto;
  display: block;
}
.start__h1_relative {
  position:relative;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  white-space:  nowrap;
}
.start__h1_absolute_up {
  position: absolute;
  top: 0%;
}
.start__h1_absolute_down {
  position: absolute;
  top: 100%;
}
.start__h1_transition_up {
  top: 40%;
  transition: top 2s;
}
.start__h1_transition_down {
  top: 50%;
  transition: top 2s;

}
.video-section {
  height: 130vw;
  max-height: 965px;
  position: relative;
  background: no-repeat 0 0 url(./img/screen2-bg.jpg);
  background-size: cover
}
@media (min-width: 768px) {
    .video-section {
    max-height: 1200px;
    }
  }
@media (min-width: 1004px) {
    .video-section {
    height: 70vw;
    background-image: url(./img/screen2-bg-desktop.jpg);
    }
  }
.play-button {
  width: 116px;
  height: 32px;
  padding: 0;
  margin: 0;
  display: block;
  color: #000;
  font-size: 7vw;
  line-height: 7vw;
  text-transform: uppercase;
  position: absolute;
  top: 10%;
  left: 50%;
  border: 0;
  background: transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  z-index: 9;
  position: relative;
  background: no-repeat 50% 50% url(./img/video-button.png);
  background-size: contain
}
@media (min-width: 768px) {
    .play-button {
    top: 50%;
    font-size: 3vw;
    line-height: 3vw;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    }
  }
.video-popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  background-color: rgba(0, 0, 0, .7);
  transition: opacity 1.5s
}
.video-popup.shown {
    visibility: visible;
    opacity: 1;
}
.video-popup.shown .video-popup__wrapper {
      transition: opacity 1s .5s;
      opacity: 1;
}
.video-popup__wrapper {
  font-size: 0;
  opacity: 0;
}
.video-popup__video {
  width: 100vw;
  height: 56.2vw;
  max-height: 100%;
}
@media (min-width: 768px) {
  .video-popup__video {
    width: 768px;
    height: 432px;
  }
}
.download {
  background: #ffcc23;
}
.download__content {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
@media (min-width: 768px) {
    .download__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
  }
.download__info {
  text-align: center;
  -ms-flex-negative: 5;
      flex-shrink: 5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1
}
@media (min-width: 768px) {
    .download__info {
    text-align: left;
    }
  }
.download__phone {
  width: 320px;
  max-width: 100%;
  margin: 25px auto;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.download__h2 {
  margin: 0 0 33px;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.page {
  background: transparent;
}
.page__content {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
@media (min-width: 768px) {
    .page__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
  }
.page__info {
  text-align: center;
  -ms-flex-negative: 1;
      flex-shrink: 1
}
@media (min-width: 768px) {
    .page__info {
    text-align: left;
    }
  }
.page__info_margin_left {
  margin-left: 0px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;

}
.page__phone {
  width: 320px;
  max-width: 100%;
  margin: 25px auto;
  display: block;
}
.page__phone_magin_left {
  -webkit-box-ordinal-group : 11;
      -ms-flex-order : 10;
          order : 10
}
@media (min-width: 768px) {
    .page__phone_magin_left {
      margin-left: -40px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }
    }
.page__h2 {
  margin: 0 0 33px;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.page__items {
  margin: 20px 0;
  padding: 0;
  display: block;
}
.page__item {
  margin: 10px 0;
  padding: 0;
  display: block;
}
.page-content__info {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: center;
  max-width: 570px;
  font-size: 18px;
  line-height: 22px;
  text-align: center
}
@media (min-width: 768px) {
    .page-content__info {
    text-align: left;
    }
  }
.background_white {
    background: #fff;
}
.background_grey {
    background: #eee;
}
.background_lenta {
  position: absolute;
  top: 0%;
  left: -10%;
  height: 120%;
  width: 140%; /* IE 9 */
  -webkit-transform: skewY(20deg); /* Safari */
  transform: skewY(20deg);
}
.background_lenta_reverse {
  position: absolute;
  top: 0%;
  left: -10%;
  height: 120%;
  width: 140%; /* IE 9 */
  -webkit-transform: skewY(-20deg); /* Safari */
  transform: skewY(-20deg);
}
.footer {
  color: #000;
  background: #ffcc23
}
@media (min-width: 768px) {
    .footer {
    padding-top: 40px;
    padding-bottom: 60px;
    }
  }
.slogan {
  padding-top: 120px;
  padding-bottom: 120px;
  background: no-repeat 100% 0 url(./img/slogan-bg.jpg);
  background-size: cover;
}
.slogan__txt {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  display: block
}
@media(min-width: 768px) {
    .slogan__txt {
    font-size: 60px;
    }
  }
@media(min-width: 1004px) {
    .slogan__txt {
    font-size: 80px;
    }
  }
.swiper {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.swiper-container {
  width: 100%;
  min-height: 900px;
  padding: 30px 0 0
}
@media (min-width: 768px) {
    .swiper-container {
    min-height: 600px;
    padding: 0 0 20px;
    }
  }
.swiper-pagination {
  top: 0
}
@media (min-width: 768px) {
    .swiper-pagination {
    top: auto;
    }
  }
.swiper-slide {
  height: 100%;
  width: 100%;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgb(255, 204, 0);
  opacity: .3;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-content {
  width: 850px;
  max-width: 100%;
  margin: auto;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
@media (min-width: 768px) {
    .swiper-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    }
  }
.swiper-content__head {
  margin-top: 20px
}
.swiper-content__head.isMobile {
    text-align: center;
}
@media (min-width: 768px) {
    .swiper-content__head {
    margin-top: 40px;
    }
  }
.swiper-content__h2 {
  margin: 20px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2
}
@media (min-width: 768px) {
    .swiper-content__h2 {
    font-size: 43px;
    margin-bottom: 20px;
    }
  }
.swiper-content__h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400
}
@media (min-width: 768px) {
    .swiper-content__h3 {
    font-size: 20px;
    }
  }
.swiper-content__info {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: left;
}
.swiper-content__text {
  margin: 0;
  text-align: left;
}
.swiper-content__phone {
  width: 320px;
  -ms-flex-negative: 0;
      flex-shrink: 0
}
@media (min-width: 768px) {
    .swiper-content__phone {
    margin-right: 5%;
    }
  }
.swiper-pagination {
  height: 20px;
}
.swiper-buttons {
  width: 850px;
  max-width: 100%;
  height: 50px;
  margin: auto;
  position: relative;
}
html:not(.desktop) {
}
html:not(.desktop) .swiper-buttons {
    display: none;
}
.swiper-button-prev {
  top: 10px;
  margin-top: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffcc23'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next {
  top: 10px;
  margin-top: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffcc23'%2F%3E%3C%2Fsvg%3E");
}
.info {
  background: #000;
  color: #fff;

}
.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
@media (min-width: 768px) {
    .info__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    }
  }
.info__logo {
  width: 60px;
  height: 80px;
  margin: 3px 0 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  background: no-repeat 50% 50% url(./img/logo-white.png);
  background-size: contain
}
@media (min-width: 768px) {
    .info__logo {
    margin-right: 30px;
    }
  }
.info__block {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.info__h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.info__text {
  margin-top: 0;
}
.quick-links {
  margin: 20px 0 0;
  padding: 0;
  display: block;
}
.quick-links__item {
  margin: 6px 0;
  display: block;
}
.quick-links__link {
  color: #ffcc23;
  text-decoration: none;
}
.static-slider {
  width: 850px;
  max-width: 100%;
  margin: auto;
  padding-bottom: 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap;
          flex-flow: column-reverse wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
@media (min-width: 768px) {
    .static-slider {
    padding-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    }
  }
.static-slider__content {
}
.static-slider__items {
  margin: 20px 0;
  padding: 0;
  display: block;
}
.static-slider__item {
  margin: 10px 0;
  padding: 0;
  display: block;
}
.static-slider__head {
  margin-top: 20px
}
.static-slider__head.isMobile {
    text-align: center;
}
@media (min-width: 768px) {
    .static-slider__head {
    margin-top: 40px;
    }
  }
.static-slider__h2 {
  margin: 20px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400
}
@media (min-width: 768px) {
    .static-slider__h2 {
    font-size: 44px;
    }
  }
.static-slider__h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}
.static-slider__info {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.static-slider__phone {
  width: 320px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative
}
@media (min-width: 768px) {
    .static-slider__phone {
    margin-дуае: 10%;
    }
  }
.static-slider__phone-image {
  opacity: 0;
  transition: opacity 1s
}
.static-slider__phone-image.shown {
    opacity: 1;
}
.static-slider__phone-image + .static-slider__phone-image {
  position: absolute;
  top: 0;
  left: 0;
}
.faq {
  color: #fff;
  background: #2b2b2b;
}
.faq__h2 {
  font-size: 50px;
  margin: 0;
  padding: 30px 0;
  text-align: center
}
@media (min-width: 768px) {
    .faq__h2 {
    text-align: left;
    }
  }
.faq-item__question {
  padding: 12px 0 16px;
  border-bottom: 2px solid #ececec;
  color: rgba(255, 204, 0, .7);
  font-size: 21px;
  line-height: 28px;
  transition: margin-bottom .5s;
  cursor: pointer;
}
.faq-item__answer {
  font-size: 18px;
  line-height: 25px;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height .5s;
}
.faq-item.active {
}
.faq-item.active .faq-item__answer {
    transition: max-height 1.2s;
    max-height: 620px;
}
.faq-item.active .faq-item__question {
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    color: rgb(255, 204, 0);
}
@media (min-width: 768px) {
  .faq__wrapper {
    max-width: 830px;
    margin: 0 auto;
  }

  .faq-item__question {
    font-size: 18px;
    line-height: 25px;
  }

  .faq-item__answer {
    font-size: 15px;
    line-height: 23px;
  }

  .faq-item.active {
  }

  .faq-item.active .faq-item__answer {
      max-height: 220px;
    }
}
.store-buttons {
}
.store-buttons_start {
    text-align: center;
}
.store-buttons_download {
    margin: 0 -10px;
}
.store-buttons__link {
  width: 140px;
  height: 41px;
  margin: 0 auto 10px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transition: opacity .5s
}
@media (min-width: 768px) {
    .store-buttons__link {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    }
  }
.store-buttons__link_apple {
    background-image: url(./img/apple-en.png);
}
.store-buttons__link_google {
    background-image: url(./img/google-en.png);
}
.store-buttons__link:hover {
    opacity: .7;
}
.feedback {
  margin: 40px auto 50px;
  padding: 0px;

 display: -webkit-box;

 display: -ms-flexbox;

 display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.feedback__description {
  font-size: 18px;
  line-height: 22px;
  text-align: left
}
@media (min-width: 1004px) {
    .feedback__description {
        min-width: 570px;
    }
    }
.feedback-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px

  }
@media (min-width: 1004px) {
    .feedback-form {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    }
.feedback-form__input {
    margin-bottom: 20px;
    min-width: 275px

  }
@media (min-width: 1004px) {
    .feedback-form__input {

      margin: 0 20px 0 0;
    }
        }
.feedback-form__button {
    min-width: 275px;
  }
.img-screen {
  max-width: 100%;
  height: auto;
  border: 0;
  display: block;
  margin: 0 auto;
}
.text-input {
  padding: 12px 15px;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 4px;
  font-size: 18px;
  background: transparent
}
.text-input::-webkit-input-placeholder {
    color: rgb(202, 202, 202);
}
.text-input:-ms-input-placeholder {
    color: rgb(202, 202, 202);
}
.text-input::placeholder {
    color: rgb(202, 202, 202);
}
.text-input.light {
    border-color: rgba(52, 52, 52, .5);
}
.text-input.light::-webkit-input-placeholder {
    color: rgb(52, 52, 52);
}
.text-input.light:-ms-input-placeholder {
    color: rgb(52, 52, 52);
}
.text-input.light::placeholder {
    color: rgb(52, 52, 52);
}
.button {
  padding: 14px 15px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: rgb(52, 52, 52);
  cursor: pointer;
  background-color: rgb(254, 203, 46);
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s
}
.button:active {
    -webkit-transform: scale(.97);
            transform: scale(.97);
}
.button.light {
    background-color: rgb(255, 255, 255);
}